metastore_db/*
vqem_prod/config/
.idea/*
vqem_dev/*
metastore_db/*
spark-warehouse/*
src/metastore_db/
src/preprocessor/*
src/job2/
src/job2/
src/job3/
src/job4/
src/job5/
src/main_dev.py
src/job1/__pycache__/
