metastore_db/*
.idea/*
vqem_dev/*
src/job1/__pycache__
src/job1/*.pyc
src/job2/__pycache__
src/job3/__pycache__
src/job2/*.pyc
metastore_db/*
spark-warehouse/*
src/metastore_db/
src/preprocessor/*
#src/job3/
src/job4/
src/job5/
src/main_dev.py
src/config/
src/__init__.pyc
src/__pycache__/
test/__init__.pyc
test/test_job.pyc
test/*.pyc
